body {
    padding: 0;
    margin:0;
}

nav.navbar {
    padding: 1rem ;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

ul.navbar-nav {
    margin: 0;
    padding: 0; 
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

#menu-figma1 {
    color:white;
    align-content:center;
}

#menu-figma1 img {
    width: 0.8rem;
}

ul.dropdown-menu{
    border-radius: 0;
    box-shadow: black;
    text-align: center;
}

a.dropdown-item:hover {
    color:white;
    background-color: rgb(5, 91, 141);
}

a.dropdown-item {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold ;
    font-size:0.8rem;
    text-align: left;
}

a.dropdown-item img {
    width: 0.5vw;
}

#hand  {
    background-color: rgb(5, 91, 141);
}

#not-found {
    margin: 1vw 20vw 0vw 35vw ;
}

#headphone{
    margin: 0vw 0vw 0vw 35vw;
    margin-inline: 0.1vw;
}

#headphone1 img:hover {
    border-radius: 100%;
    box-shadow:  rgba(5, 141, 35) 0rem 0.1rem 0.1rem 0.1rem;
}

#login:hover {
    height: 2.5rem;
    border-radius: 0%;
    border: 0.2rem;
    border-color: gray;
    border-style:solid;
}

#login a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold ;
    font-size:0.8rem;
    text-align: left;
}

#zoom1 ul form.d-flex {
    width: 11rem;
    height: 2rem;
    padding-left: 0.5rem;
}

#zoom1 ul input.form-control {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold ;
    font-size:0.8rem;
    text-align: left;    
    background-color: black;
    border: 0.2rem;
    border-style:groove;
    border-color: rgb(5, 91, 141);
}

#zoom1 a:hover {
    padding-bottom: 0.8rem;
    background-color:rgb(5, 91, 141);
}

#zoom1 a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold ;
    font-size:0.8rem;
    text-align: left;
}



#list1:hover {
    background-color: rgb(5, 91, 141) ;
}

#list1 a {
    text-align: center ;
}

#album1{
    padding-left: 5vw;
    padding-right: 5vw;
}

#text1 h3 {
    text-align: center;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    color: #000000;
}

#text2 h5 {
    padding-left: 8vw;
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
}

#text2 h6 {
    padding-left: 8vw;
    padding-right: 1vw;
    font-weight:400;
    font-size: medium;
    text-align: left;
    text-transform: none;
    color: #000000;
}

#pict0{
    margin-left: 2rem;
}


#pict1 div.card{
    align-items:flex-start !important;
    flex-direction:row !important;
    background-color:transparent !important;
    border:none;
}

#pict1 img {
    width: 20vw;

}

#pict1 #text3 {
    transform:rotate(-270deg); 
    font-size: x-small; 
    font-weight: bold;
    margin-bottom: 0rem;
    margin-top: 2.5rem;
    margin-right: 0;
    margin-left: -2.5rem;
    width: 6rem;
}

#pict1 div.card-body {
    padding: 0;
}

#pict2 div.card{
    align-items:flex-start !important;
    flex-direction:row !important;
    background-color:transparent !important;
    border:none;
}

#pict2 img {
    width: 20vw;

}

#pict2 #text3 {
    transform:rotate(-270deg); 
    font-size: x-small; 
    font-weight: bold;
    margin-bottom: 0rem;
    margin-top: 2.5rem;
    margin-right: 0;
    margin-left: -2.5rem;
    width: 6rem;
}

#pict2 div.card-body {
    padding: 0;
}

footer {
    margin-top: 5.5rem;
}

@media only screen and (max-width: 767px) {
    #pict2 {
        margin-top: 5rem;
    }

    #pict1.mt-5 {
        margin-top: 0rem !important;
    }
}

