body {
    margin: 0;
    padding: 0;
    background-color: rgb(20, 20, 20) !important;
    color:rgb(255, 255, 255) !important;
}

div .navbar-toggler {
    border-radius: 0;
    border: 0;
}

div .navbar-toggler:focus {
    box-shadow: none !important;
}

nav .nav-item .nav-link {
    text-align: center;
    color: white;
}

div .navbar-brand {
    width: 7.5rem;
    border: 1px;
    border-color: white;
    border-style: solid;
    text-align: center;
}

#header1 {
    margin-top: 1rem;
    padding: 0;
    padding-top: 2rem;
}

div.row {
    margin-left: 0;
    margin-right: 0;
}

#col_1{
    width: 23rem;
    margin-top: 6.5rem;
}

#col_2 img{
    width: 35rem;
    height: 25rem;
    margin-left: 5rem;
}

#col_3 {
    width: 13rem;
    height: 6.5rem;
    margin-left: 43rem;
    margin-top: -3rem;
    background-image:url("../icon/Cuadro-Negro.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-style: solid;
    border: 0.3rem;
    box-shadow: 0px 0px 3px 3px rgb(0, 0, 0);
}

#col_3 img{
    width: 3rem;
    height: 3rem;
    margin: 0;
    border-style: solid;
    border-color:transparent;
    border-radius: 100%;
}

#col_3 p{
    font-size:  11px;
    width: max-content;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    display:inline-flex;
    align-content: center;
    align-items: flex-start;  
}

#col_3 h2{
    font-size:small;
    font-weight:lighter;
    font-weight: bold;
    margin-left: 0;
    margin-right: 2rem;
}

footer {
    text-align: center;
    margin-top: 4rem;
}

footer div a {
    font-size: xx-small;
    font-weight: bold;
}

@media only screen and (max-width:990px){
    #navbarNav {
        height: 40rem;
        margin-top: 10rem;
        transition: -0.2s;
    }    

    #col_1 {
        margin-top: 5rem;
    }

    #col_2 img{
        width: 22rem;
        height: 18rem;
        margin-left: 0rem;
    }

    #col_3 {
        width: 13rem;
        height: 6.5rem;
        margin-left: 30rem;
        margin-top: -3rem;
    }

    footer {
        margin-top: 10.5rem;
    }
}

@media only screen and (max-width:770px){
    #col_1 {
        margin-top: 4rem;
    }

    #col_2 img{
        width: 22rem;
        height: 18rem;
        margin-left: 0rem;
    }

    #col_3 {
        width: 13rem;
        height: 6.5rem;
        margin-left: 30rem;
        margin-top: -3rem;
    }

    footer {
        margin-top: 8.5rem;
    }
}


@media only screen and (max-width:767px){
    #col_1 {
        margin-top: 2rem;
    }

    #col_2 img{
        width: 22rem;
        height: 18rem;
        margin-left: 0rem;
    }

    #col_3 {
        width: 13rem;
        height: 6.5rem;
        margin-left: -2rem;
        margin-top: 15rem;
    }
}

@media only screen and (max-width:575px){
    #col_1 {
        margin-top: 4rem;
    }

    #col_2 img{
        width: 22rem;
        height: 18rem;
        margin-left: 0rem;
    }

    #col_3 {
        width: 13rem;
        height: 6.5rem;
        margin-left: 8rem;
        margin-top: -3rem;
    }

    footer {
        margin-top: 5.5rem;
    }
}

@media only screen and (min-width:1100px){
    footer {
        margin-top: 3rem;
    }
}
